<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZenithFanUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AsusFanControlGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ZenithFanUtility.Properties.Settings>
            <setting name="fanSpeed" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="turnOffControlOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forbidUnsafeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTrayOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoRefreshStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FanCurveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerRefreshRate" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ActiveFanCurve" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedMode" serializeAs="String">
                <value />
            </setting>
            <setting name="HysteresisValue" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomControlEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </ZenithFanUtility.Properties.Settings>
        <AsusFanControlGUI.Properties.Settings>
            <setting name="fanSpeed" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="turnOffControlOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forbidUnsafeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTrayOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoRefreshStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FanCurveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerRefreshRate" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ActiveFanCurve" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedMode" serializeAs="String">
                <value />
            </setting>
            <setting name="HysteresisValue" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
        </AsusFanControlGUI.Properties.Settings>
    </userSettings>
</configuration>